/*

Colours used:
#A73E00
#252525
#376046

*/

* {
  box-sizing: border-box;
}

body {
  background-color: #376046;
  font-family: rigid-square, sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 20px;
  color: #ffffff;
}


/* Header */

header {
  box-shadow: 0px 4px 4px 0px rgba(17, 39, 25, 0.5);
  position: relative;
}

nav {
  display: inline-block;
  width: 100%;
}

nav > ul {
  list-style-type: none;
  padding: 0;
}

nav > ul > li {
  display: inline-block;
}

nav > ul > li > a {
  padding: 12px;
  text-decoration: underline;
}

nav > ul > li > a:hover {
  text-decoration: none;
  background-image: linear-gradient(transparent 50%, #820000 0%);
}

nav > ul > li > a:active {
  text-decoration: none;
  background-image: linear-gradient(transparent 50%, #820000 0%);
}

nav > ul > li > a:focus {
  text-decoration: none;
  background-image: linear-gradient(transparent 50%, #820000 0%);
}

/* Main */

#hero {
  background-color: rgba(20,20,20,0.5);
  padding: 16px 0;
  display: inline-block;
  width: 100%;
}

#hero h1 {
  text-align: center;
}

.container {
  padding: 0 8px;
}


.row {
  margin: 32px 0;
}

#work .row {
  padding-bottom: 24px;
  border-bottom: 1px solid #ffffff;
}

h1 {
  font-family: ivypresto-display, serif;
  font-weight: 200;
  font-style: normal;
  font-size: 64px;
}

h2 {
  font-family: rigid-square, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
  font-weight: 200;
  text-transform: uppercase;
}

h3 {
  font-family: rigid-square, sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 24px;
}

a {
  text-decoration: underline;
  color: #ffffff;
}

a:hover {
  text-decoration: none;
  background-image: linear-gradient(transparent 50%, #820000 0%);
}

a:active {
  text-decoration: none;
}

a:focus {
  text-decoration: none;
}

img {
  width: 100%;
}

.button {
  font-weight: 300;
  padding: 16px;
  margin: 24px 0;
  border-radius: 4px;
  border: 2px solid #ffffff;
  text-decoration: none;
  display:block;
  max-width: 240px;
}

.button:hover {
  opacity: 0.8;
  text-decoration: none;
  background-image: none;
}

.cv-button {
  text-decoration: underline;
}

.cv-button:hover {
  text-decoration: none;
}

.cv-button:active {
  text-decoration: none;
}

.cv-button:active {
  text-decoration: none;
}

/* Footer */

.social-icons {
  height: 24px;
  width: auto;
}

#socials ul {
  list-style-type: none;
  padding: 0;
}
